//colors

//колір для тексту
$primary-text-color: #000000;
$seconday-text-color: #565656;

//кольори для кнопок
$secondary-color: #2639ed;
$btn-text-color: #ffffff;
$btn-hover-color: #4a5cff;

//кольори для псевдоелементів в блоці main-hero
$img-before-bgc: #dae9ff;
$img-after-bgc: #fff5db;

//кольори для псевдоелементів в блоці business-help
$dots-color: #f4f4f4;
$dots-color-business: #e7f0fc;
$business-block-border: #f2f2f2;

//колір фону для СВГ в секції business-help
$bgc-color-box: #f1f7ff;
$bgc-color-wallet: #fff7e3;
$bgc-color-code: #fff2f8;
$bgc-color-analysis: #deffee;

  // блакитний фон під бізнес-блоком
$business-block-bgc: #f4f9ff;

//кольори для псевдоелементів в блоці vido-block
$video-block-content-bgc: #eff1ff;
$video-block-video-bgc: #fff5db;
