<section class="container business-wrapper">
  <div class="business-content">
    <h2>How can we help your Business ?</h2>
    <p>We build readymade websites, mobile applications, and elaborate online business services.</p>
  </div>
  <div class="business-block-section">
    <div class="business-block">
      <div class="business-svg box-search-bg">
        <svg class="svg-items">
          <use href="images/sprite.svg#box-search"></use>
        </svg>
      </div>
      <h3>Business Idea Planning</h3>
      <p>We present you a proposal and discuss niffty-gritty like</p>
    </div>

    <div class="business-block">
      <div class="business-svg empty-wallet-bg">
        <svg class="svg-items">
          <use href="images/sprite.svg#empty-wallet"></use>
        </svg>
      </div>
      <h3>Business Idea Planning</h3>
      <p>We present you a proposal and discuss niffty-gritty like</p>
    </div>

    <div class="business-block">
      <div class="business-svg code-bg">
        <svg class="svg-items">
          <use href="images/sprite.svg#code-1"></use>
        </svg>
      </div>
      <h3>Business Idea Planning</h3>
      <p>We present you a proposal and discuss niffty-gritty like</p>
    </div>


    <div class="business-block">
      <div class="business-svg analysis-bg">
        <svg class="svg-items">
          <use href="images/sprite.svg#analysis"></use>
        </svg>
      </div>
      <h3>Business Idea Planning</h3>
      <p>We present you a proposal and discuss niffty-gritty like</p>
    </div>
  </div>
</section>
