<section class="container clients">
  <div class="clients-content">
    <h2>Our Client</h2>
    <p>Several selected clients, who already believe in our service.</p>
  </div>
  <ul class="clients-list">
    <li>
      <a target="_blank" href="https://www.google.com/">
        <img width="150px" height="50px" src="images/Google-Logo-min.png" alt="Google logo" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.airbnb.com.ua">
        <img width="166px" height="52px" src="images/Airbnb-Logo-min.png" alt="Airbnb logo" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.ubereats.com/">
        <img width="166px" height="28px" src="images/Uber-Eats-Logo-min.png" alt="Uber Eats logo" />
      </a>
    </li>
    <li class="amazon-link">
      <a target="_blank" href="http://www.amazon.com/">
        <img width="141px" height="42px" src="images/Amazon-Logo-min.png" alt="Amazon logo" />
      </a>
    </li>
  </ul>
</section>
