<section class="clientSay-wrapper">
  <div class="clientSay-heading">
    <h2>What our happy client say</h2>
    <p>Several selected clients, who already believe in our service.</p>
  </div>
  <div class="clientSay-content">
    <div class="clientSay-clients">
      <div class="clientSay-card">
        <img src="images/photo-avatar-min.jpg" alt="Аватар клієнта" />
        <div class="clientSay-card-description">
          <h3>Matthew Paul</h3>
          <p>
            Perfect, very good job! Thank you for the amazing design and work. Really impressed with
            the high quality and quick turnaround time. Highly recommend.
          </p>
          <div class="clientSay-pagination">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

    <div class="clientSay-photos">
      <img src="images/Group-people-min.jpg" alt="Колаж із аватарів" />
    </div>
  </div>
</section>
