<footer class="container">
  <div class="footer-wrapper">
    <div class="footer-description">
      <div class="logo">
        <span>A+</span>
        <span>Studio</span>
      </div>
      <p>
        Leading digital agency with solid design and development expertise. We build readymade
        websites, mobile applications, and elaborate online business services.
      </p>
      <ul class="footer-social-links">
        <li>
          <a href="#">
            <svg class="footer-svg">
              <use href="images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="footer-svg">
              <use href="images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="footer-svg">
              <use href="images/sprite.svg#linkedIn"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-menu">
      <div class="footer-weDo">
        <h3>What we do</h3>
        <ul>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">App Design</a></li>
          <li><a href="#">Social Media Manage</a></li>
          <li><a href="#">Market analysis Project</a></li>
        </ul>
      </div>

      <div class="footer-company">
        <h3>What we do</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Become Investore</a></li>
        </ul>
      </div>

      <div class="footer-support">
        <h3>Support</h3>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Policy</a></li>
          <li><a href="#">Business</a></li>
        </ul>
      </div>

      <div class="footer-contact">
        <h3>What we do</h3>
        <ul>
          <li><a href="#">WhatsApp</a></li>
          <li><a href="#">Support 24</a></li>
        </ul>
      </div>
    </div>
</div>

    <p class="footer-copyright">Copyright © 2022 Avi Yansah</p>
</footer>
