<section class="main-hero-wrapper">
  <div class="main-hero-content">
    <h1>A Digital Product Agency</h1>
    <p>
      Leading digital agency with solid design and development expertise. We build readymade
      websites, mobile applications, and elaborate online business services.
    </p>
    <button class="contact-btn" type="button">Contact Now</button>
  </div>
  <div class="img-wrapper">
    <img
      class="main-hero-img"
      src="images/image-8-min.jpg"
      alt="Man standing in front of auditory"
    />
  </div>
</section>
