<section class="container">
  <div class="subscribe-wrapper">
    <div class="subscribe-description">
      <h2>Subscribe Newsletter</h2>
      <p>I will update good news and promotion service not spam</p>
    </div>
    <div class="subscribe-form-wrapper">
      <form class="subscribe-form" name="subscribe-form" autocomplete="off" novalidate>
        <label for="email">
          <input
            class="subscribe-input"
            type="text"
            id="email"
            name="email"
            placeholder="Enter your email address.."
          />
        </label>
        <button class="subscribe-btn">Contact now</button>
      </form>
    </div>
  </div>
</section>
