.clients {
  text-align: center;
  padding-top: 30px;

  @media screen and(min-width: $tablet) {
    padding-top: 50px;
  }
  @media screen and(min-width: $desktop) {
    padding-top: 0;
    text-align: left;
    display: flex;
  }

  & h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
    margin-bottom: 17px;
  }

  & p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }

  &-content {
    @media screen and(min-width: $desktop) {
      margin-right: 60px;
    }
  }

  &-list {
    align-items: center;
    margin-top: 30px;

    @media screen and(min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and(min-width: $desktop) {
      flex-wrap: nowrap;
      margin-top: 50px;
    }
  }

  &-list li:not(:last-child) {
    margin-bottom: 30px;

    @media screen and(min-width: $tablet) {
      margin-bottom: 0;
      margin-right: 25px;
    }
    @media screen and(min-width: $desktop) {
      margin-right: 50px;
    }
  }
}

.amazon {
  &-link {
    display: block;
    padding-top: 10px;
    @media screen and(min-width: $tablet) {
      padding: 0;
      padding-top: 22px;
    }
  }
}
