.footer {
  &-wrapper {
    margin-top: 75px;
    padding: 33px 0 29px 0;
    border-top: 1px solid $dots-color;
    border-bottom: 1px solid $dots-color;
    @media screen and(min-width: $tablet) {
      
      display: flex;
    }
    @media screen and(min-width: $desktop) {
      justify-content: start;
      margin-top: 245px;
    }
  }

  &-description {
    @media screen and(min-width: $tablet) {
      max-width: 200px;
      margin-right: 50px;
    }
    @media screen and(min-width: $desktop) {
      margin-right: 191px;
      max-width: 270px;
    }
  }

  &-description .logo {
    margin-bottom: 28px;
  }

  &-description p {
    color: $seconday-text-color;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 15px;
    @media screen and(min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &-social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @media screen and(min-width: $desktop) {
      margin: 0;
      justify-content: start;
    }
  }

  &-social-links li:not(:last-child) {
    margin-right: 16px;
  }

  &-svg {
    width: 36px;
    height: 36px;
  }

  &-menu {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and(min-width: $desktop) {
      flex-wrap: nowrap;
      width: 100%;
      max-width: 100%;
      
    }
  }

  &-menu h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  &-menu a {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    transition: 250ms ease-in all;
  }

  &-menu a:hover {
    color: $secondary-color;
  }
  &-copyright {
    text-align: center;
    padding: 23px;
  }
}
