.header {
  &-wrapper {
    margin: 42px 0 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  color: $primary-text-color;
  align-items: center;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    color: $secondary-color;
  }

  & span:first-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 27.1472px;
    line-height: 33px;
    margin-right: 5px;
  }

  & span:last-child {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 27.1472px;
    line-height: 33px;
  }
}

.navigation {
  display: none;

  @media screen and(min-width: $tablet) {
    display: block;
    min-width: 545px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 645px;
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-list a {
    color: $primary-text-color;
    cursor: pointer;
    transition: all 250ms ease;
  }

  &-list a:hover {
    color: $secondary-color;
  }
}

.burger-menu {
  display: flex;
  align-items: center;
  z-index: 2;
  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.menu {
  &-btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  &-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  &-item:hover {
    background-color: #cfd8dc;
  }
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: $primary-text-color;
  transition-duration: 0.25s;
}

.menu-btn > span{
  position: fixed;
}



.menu-btn:hover > span,
.menu-btn:hover > span::before,
.menu-btn:hover > span::after {
  background-color: $btn-hover-color;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 320px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: $business-block-bgc;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

#menu-toggle {
  opacity: 0;
  
}


#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}
