.main-hero-wrapper {
  font-family: 'Manrope';
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    overflow: visible;
    padding: 0;
  }

  @media screen and(min-width: $desktop) {
    padding-left: 94px;
    margin-bottom: 123px;
  }
}

.main-hero-content {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding: 0 16px;

  @media screen and(min-width: $desktop) {
    text-align: left;
    padding: 0;
    margin-top: 112px;
    width: 504px;
  }
  & h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
    margin-bottom: 15px;
    @media screen and(min-width: $desktop) {
      margin-bottom: 51px;
    }
  }

  & p {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    @media screen and(min-width: $desktop) {
      margin-left: 25px;
      width: 471px;
      margin-bottom: 33px;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    left: -14px;
    height: 154px;
    width: 404px;
    background-size: 19px 20px;
    background-repeat: repeat;
    background-position: 48px 17.4px;
    background-image: radial-gradient(circle, $dots-color 3.5px, transparent 3.5px),
      radial-gradient(circle, $dots-color 3.5px, transparent 3.5px);
    z-index: -1;
    @media screen and(min-width: $tablet) {
      background-position: 40.4px 17.4px;
      
    }
  }
}

.contact-btn {
  outline: none;
  background-color: $secondary-color;
  color: $btn-text-color;
  border: none;
  border-radius: 60px;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.065em;
  cursor: pointer;
  transition: all 250ms ease;

  @media screen and(min-width: $desktop) {
    margin-left: 25px;
  }

  &:hover {
    background-color: $btn-hover-color;
  }
}

.main-hero-img {
  height: 300px;
  width: auto;

  @media screen and(min-width:$desktop) {
    width: 754px;
    height: 512px;
  }
}

.img-wrapper {
  position: relative;
  order: -1; //

  @media screen and (min-width: $tablet) {
    order: 0;
  }

  &::before {
    content: '';
    display: block;
    background-color: $img-before-bgc;
    position: absolute;
    border-radius: 100%;
    left: -53px;
    top: -2px;
    z-index: -1;
    @media screen and(min-width: $tablet) {
      width: 100px;
      height: 100px;
      left: -45px;
      top: -2px;
    }
    @media screen and(min-width: $desktop) {
      height: 129px;
      width: 129px;
    }
  }
  &::after {
    content: '';
    display: block;
    background-color: $img-after-bgc;
    width: 80px;
    height: 50px;
    border-radius: 0px 0px 100px 0px;
    position: absolute;
    right: 50px;
    bottom: -45px;
    z-index: -1;

    @media screen and(min-width: $tablet) {
      width: 120px;
      height: 120px;
    }

    @media screen and(min-width: $desktop) {
      width: 178px;
      height: 178px;
      right: 110px;
      bottom: -96px;
    }
  }
}
